

.dot{
    width:10px;
    height:10px;
    position:absolute;
    background-color:#00FF00;
    border-radius: 20px;
    z-index:2;
  }
   #dotmagic {
  width:100%; 
  height:100%;
  }
  
  .gsap {
    color :  #ADFF2F ;
  }
  
  
  #DiacoDesignLink,#pens{
    color: #fff;
  }